.floor-display {
  position: relative;
  background-color: #fff;
  max-width: 150px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  border-radius: var(--border-radius);
  padding: 0;
}

.floor-display-selector {
  text-align: center;

  background-image: url(../../../public/background_images/dropdown/down.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 2rem;
  background-position-x: 95%;
}

.floor-display-selector.open {
  background-image: url(../../../public/background_images/dropdown/up.svg);
}